{% extends 'booktest/base.html' %}
{% block title %}
详情页
{% endblock %}
{% block body %}
      <h2>{{ vote.id }}</h2>

    <li>
    <form action="{% url 'booktest:detail' vote.id %}" method="post">

        {% csrf_token %}

        {% for v in vote.voteinfo2_set.all %}
        {% if forloop.counter == 1 %}
            <input type="radio" checked value="{{ v.name }}" name="ppt">{{ v.name }}<br>
        {% else %}
            <input type="radio" value="{{ v.name }}" name="ppt">{{ v.name }}
        <br>
        {% endif %}
        {% endfor %}
        <input type="submit" value="投票" ><br>

    </form>
    </li>




    <a href="/list/" style="text-decoration:none">返回列表页</a>

{% endblock %}