<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
    <h2>{{ vote.id }}</h2>

    <li>
    <form action="/detail/{{ vote.id }}/" method="post">
        {% for v in vote.voteinfo2_set.all %}
            <input type="radio" value="{{ v.name }}" name="ppt">{{ v.name }}

        <br>
        {% endfor %}
        <input type="submit" value="投票" >
    </form>
    </li>




    <a href="/list/" style="text-decoration:none">返回列表页</a>

</body>
</html>