<ul>
    <li><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a></li>
    <li><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a></li>
    <li><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a></li>
    <li><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a></li>
    <li><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a><a href="#">友情提示</a></li>

</ul>